<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>DEBUG</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Debug Links</h1>
	<h2>Staff/Customer Agnostic Pages</h2>
	<ul>
		<li><a href="index.html">Main Landing Page (index.html)</a></li>
		<li><a href="signup.html">Sign Up (signup.html)</a></li>
		<li><a href="login.html">Login (login.html)</a></li>
		<li><a href="debug.html">This page! (debug.html)</a></li>
	</ul>
	<h2>Staff Links</h2>
	<ul>
		<li><a href="staff/index.html">Staff Main Page (staff/index.html)</a></li>
		<li><a href="staff/login.html">Staff Login (staff/login.html)</a></li>
		<li><a href="staff/ingredient.html">Staff Add Ingredient (staff/ingredient.html)</a></li>
		<li><a href="staff/inventory.html">Staff Add Inventory (staff/inventory.html)</a></li>
		<li><a href="staff/editrecipe.html">Staff Edit Recipe (staff/editrecipe.html)</a></li>
		<li><a href="staff/deleterecipe.html">Staff Delete Recipe (staff/deleterecipe.html)</a></li>
		<li><a href="staff/makecoffee.html">Staff Make Coffee (staff/makecoffee.html)</a></li>
	</ul>
	<h2>Customer Links</h2>
	<ul>
		<li><a href="customer/index.html">Customer Main Page (customer/index.html)</a></li>
		<li><a href="customer/login.html">Customer Login (customer/login.html)</a></li>
		<li><a href="customer/order.html">Customer Order (customer/order.html)</a></li>
	</ul>
</body>
</html>
